$color-white: #fff;

$color-blue: #009FE3;
$color-blue-2: #1490DF;
$color-blue-3: #2BC6FF;
$color-blue-4:#7B92AA;
$color-blue-5:#214264;
$color-blue-6:#486889;
$color-blue-7:#0292FD;
$color-blue-8:#43566A;

$color-blue-light: #F7F8FB;
$color-blue-light-2: #E2F3FC;

$color-navy-blue: #232B76;
$color-navyblue: #232B76;
$color-navy-blue-2: #042164;
$color-navy-blue-3:#000484;

$color-black: #333333;
$color-black-2: #333333;
$color-black-3: #333333;
$color-black-6: #666666;

$color-gray-light:#707070;
$color-gray-light-2:#F5F5F5;
$color-blue-light-3:#555555;


$color-orange:#F88F25;
$color-orange-2:#F29420;

$color-red:#9E1E21;


