.btn-animation-1 {

    &:hover {
        animation: scale .5s ease-in-out;
    }
}

.btn-animation-2 {

    &:hover {
        animation-name: heartBeat;
        animation: heartBeat .7s alternate;
        animation-iteration-count: 2;
    }
}


.btn-animation-nope {

    &:hover {
        animation: nope 1s ease-in;
    }
}

.btn-banner {
    font-size: 1.3em;
    font-family: 'FSAlbertBold', sans-serif;
    text-align: center;
    display: inline-block;
    max-width: 350px;
    width: 100%;
    // text-transform: uppercase;
    border-radius: 29px;
    padding: 12px 20px;
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        color: $color-white;
    }
}

.btn-register {
    font-size: 32px;
    font-family: 'GraphieBold', sans-serif;
    text-align: center;
    display: inline-block;
    max-width: 361px;
    width: 100%;
    // text-transform: uppercase;
    border-radius: 8px;
    padding: 26px 20px;
    color: $color-white;
    display: flex;
    align-items: center;
    background-color: $color-orange;
    justify-content: center;
    letter-spacing: 3px;
    font-family: 'HelveticaNeueMedium', sans-serif;
    position: absolute;
    top: -3rem;
    z-index: 999;
    transition: all .5s;

    &:hover {
        color: $color-white;
        transform: scale(1.05);
    }

    @include media992 {
        position: static;
        top: auto;
        margin-bottom: 2rem;
    }

    @include media766 {
        font-size: 22px;
        margin: 0 auto 2rem;
        display: table;
    }
}

.btn-register-page {
    font-size: 23px;
    font-family: 'HelveticaNeueBold', sans-serif;
    text-align: center;
    display: inline-block;
    max-width: 340px;
    width: 100%;
    border-radius: 4px;
    padding: 11px 20px;
    color: $color-white;
    display: flex;
    align-items: center;
    background-color: $color-navy-blue-3;
    justify-content: center;
    letter-spacing: 1px;
    font-family: 'HelveticaNeueMedium', sans-serif;
    transition: all .5s;
    z-index: 3;

    &:hover {
        color: $color-white;
        transform: scale(1.05);
    }
}

.btn-next-survey {
    font-size: 23px;
    font-family: 'HelveticaNeueBold', sans-serif;
    text-align: center;
    display: inline-block;
    max-width: 220px;
    width: 100%;
    border-radius: 4px;
    padding: 11px 20px;
    color: $color-white;
    display: flex;
    align-items: center;
    background-color: $color-navy-blue-3;
    justify-content: center;
    letter-spacing: 1px;
    font-family: 'HelveticaNeueMedium', sans-serif;
    transition: all .5s;
    z-index: 3;
    margin: 0 auto;

    &:hover {
        color: $color-white;
        transform: scale(1.05);
    }
}

.btn-register-small {
    font-size: 18px;
    font-family: 'GraphieBold', sans-serif;
    text-align: center;
    display: inline-block;
    max-width: 240px;
    width: 100%;
    // text-transform: uppercase;
    border-radius: 8px;
    padding: 16px 20px;
    color: $color-white;
    display: flex;
    align-items: center;
    background-color: $color-orange;
    justify-content: center;
    letter-spacing: 1px;
    font-family: 'HelveticaNeueMedium', sans-serif;
    transition: all .5s;
    margin: 1.5rem 0;

    &:hover {
        color: $color-white;
        transform: scale(1.05);
    }

    @include media766 {
        margin: 1.5rem auto;
        display: table;
    }
}


.btn-speaker-date {
    font-size: 17px;
    font-family: 'GraphieBold', sans-serif;
    text-align: center;
    display: inline-block;
    width: 275px;
    height: 47px;
    border-radius: 25px;
    padding: 12px;
    cursor: pointer;
    background-color: $color-white;
    color: $color-red;
    border: 2px solid $color-red;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        color: $color-red;
    }

    &--active {
        transition: all .5s ease-in;
        background-color: $color-red;
        color: $color-white;
        border: 2px solid $color-red;

        &:hover {
            color: $color-white;
        }
    }
}

.btn-bio {
    font-size: 12px;
    font-family: 'HelveticaNeueMedium', sans-serif;
    text-align: center;
    display: inline-block;
    text-align: center;
    padding: 7px 16px;
    transition: all .5s ease-in-out;
    background-color: $color-orange;
    color: $color-white;
    margin-top: .5rem;
    cursor: pointer;
    border: 1px solid transparent;

    &:hover {
        box-shadow: 0px 0px 20px rgba(20, 144, 223, 0.38);
        color: $color-white;
        background-color: $color-navy-blue-3;
        border: 1px solid $color-white;
    }

    @include media1250 {
        display: table;
        margin: .5rem auto 0;
    }
}

.btn-thankyou-home {
    display: flex;
    margin-bottom: 5rem;
    color: $color-navy-blue-3;
    border: 2px solid $color-orange-2;
    padding: $color-white;
    padding: .8rem 3.5rem;
    border-radius: 30px;
    font-family: 'FSAlbertBold', sans-serif;
    font-size: 22px;
    box-shadow: 0px 0px 20px #1490DF60;
    transition: all .5s;

    &:hover {
        color: $color-orange-2;
        background-color: $color-navy-blue-3;
        transform: scale(0.95);
        border: 2px solid $color-navy-blue-3;
    }
}

.btn-card-time {
    font-size: 17px;
    font-family: 'FSAlbertBold', sans-serif;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0px 0px 20px #1490DF60;
    ;
    width: 252px;
    height: 48px;
    border-radius: 29px;
    transition: transform 0.5s;
    position: absolute;
    bottom: -17px;
    padding: 12px;

    @media screen and (-ms-high-contrast: active),
    (-ms-high-contrast: none) {
        left: 50%;
        transform: translate(-50%, 0px);
    }

    &:hover {
        color: $color-white;
        text-decoration: none;
        // transform: scale(1.04);
        transform: translateY(-30px);

        @media screen and (-ms-high-contrast: active),
        (-ms-high-contrast: none) {
            left: 50%;
            transform: translate(-50%, 0px);
        }
    }
}

.btn-schedule {
    font-size: 17px;
    font-family: 'FSAlbertBold', sans-serif;
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 29px;
    transition: box-shadow .2s ease-in, transform .3s ease-in-out;
    cursor: pointer;

    &--active {
        transition: all .5s ease-in;
        background-color: $color-white;
        color: $color-navy-blue;
        border: 2px solid $color-white;
    }

    &:hover {
        box-shadow: 0px 0px 20px rgba(20, 144, 223, 0.38);
        transform: scale(1.03);
    }
}


.btn-login {
    font-size: 20px;
    font-family: 'HelveticaNeueBold', sans-serif;
    text-align: center;
    // text-transform: uppercase;
    width: 300px;
    height: 50px;
    padding: .9rem .5rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    // box-shadow: 0px 0px 20px rgba(20, 144, 223, 0.38);
    background-color: $color-navy-blue-3;
    color: $color-white;
    margin: 1rem auto 0;

    &:hover {
        color: $color-white;
    }
}

.btn-login-landing {
    font-family: 'HelveticaNeueBold', sans-serif;
    text-align: center;
    // text-transform: uppercase;
    font-size: 28px;
    max-width: 190px;
    height: 50px;
    padding: 29px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    // box-shadow: 0px 0px 20px rgba(20, 144, 223, 0.38);
    background-color: #fff;
    color: #f88f25;
    // margin: 0 0 1rem;
    border: 2px solid #f88f25;
    transition: all .5s;
    margin-left: auto;

    &:hover {
        color: #fff;
        background-color: #f88f25;
        transform: scale(1.05);

    }

    @include media766{
        margin: .5rem auto 1.5rem;
    }
}

.btn-back-home {
    font-size: 20px;
    font-family: 'FSAlbertBold', sans-serif;
    text-align: center;
    // text-transform: uppercase;
    padding: .6rem;
    border-radius: 29px;
    height: 50px;
    transition: all .5s;
    box-shadow: 0px 0px 20px #FF486438;
    width: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-white;
    border: 2px solid $color-navy-blue-3;
    font-size: 20px;
    background-color: $color-navy-blue-3;

    &:hover {
        transform: scale(1.03);
        color: $color-white;
    }

}

.btn-upcoming-register {
    font-size: 13px;
    font-family: 'FSAlbertBold', sans-serif;
    text-align: center;
    padding: .7rem;
    width: 107px;
    height: 37px;
    display: inline-block;
    box-shadow: 0px 0px 20px rgba(20, 144, 223, 0.38);
    border-radius: 29px;
    transition: transform .4s cubic-bezier(0, 1, 0, 0);

    &:hover {
        transform: scale(1.03);
    }
}

.btn-coming-soon {
    font-size: 13px;
    font-family: 'FSAlbertBold', sans-serif;
    text-align: center;
    text-transform: uppercase;
    padding: .6rem;
    border-radius: 29px;
    width: 266px;
    height: 37px;
    display: inline-block;
    transition: transform .4s cubic-bezier(0, 1, 0, 0);
    border: solid 1px;

    &:hover {
        transform: scale(1.03);
    }
}

.btn-upcoming-calendar {
    font-size: 13px;
    font-family: 'FSAlbertBold', sans-serif;
    text-align: center;
    padding: .7rem;
    width: 145px;
    height: 37px;
    display: inline-block;
    box-shadow: 0px 0px 20px rgba(20, 144, 223, 0.38);
    border-radius: 29px;
    transition: transform .4s cubic-bezier(0, 1, 0, 0);

    &:hover {
        transform: scale(1.03);
    }
}


.btn-calendar {
    width: 320px !important;
    height: 50px !important;
    font-size: 17px !important;
    color: $color-white !important;
    text-transform: uppercase;
    background-color: $color-orange !important;
    padding: 10px 12px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 0 !important;
    border-radius: 29px !important;
    transition: transform .5s;

    &:hover {
        transform: scale(1.03);
        font-size: 13px;

    }

    @include media460 {
        width: 260px;
    }
}

.addeventatc .addeventatc_icon {
    display: none;
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .btn-banner {
        font-family: 'OpenSansBold', sans-serif;
    }
}